name: Publish Latest Docs
on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install -r requirements/build-docs.txt
      - name: Install dependecies
        run: |
          pip install --upgrade hatch uv
      - name: Configure Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Publish Develop Docs
        run: |
          hatch run docs:deploy_latest ${{ github.ref_name }}
    concurrency:
      group: publish-docs
