name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    schedule:
        - cron: "0 0 * * *"

jobs:
    source:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.9", "3.10", "3.11"]
        steps:
            - uses: actions/checkout@v4
            - name: Use Python ${{ matrix.python-version }}
              uses: actions/checkout@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Python Dependencies
              run: pip install -r requirements/test-run.txt
            - name: Run Tests
              run: nox -t test
    coverage:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Latest Python
              uses: actions/checkout@v5
              with:
                  python-version: "3.10"
            - name: Install Python Dependencies
              run: pip install -r requirements/test-run.txt
            - name: Run Tests
              run: nox -t test -- --coverage
